body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

h2 {
    margin: 0px;
    padding-top: 20px;
    padding-left: 12px;
    padding-bottom: 20px;
    background-color: black;
}

h3 {
    padding-left: 12px;
}

hr {
    background-color: black;
    margin: 0px;
}

.socials {
    text-align: center;
}

.socials a {
    color: #002b36;
    padding-left: 4px;
    padding-right: 4px;
}

.socials img {
    width: 30px;
    height: 30px;
}

a.anchor {
    display: block;
    position: relative;
    top: -240px;
    /* offsets headers from top when clicking on navigation links */
    visibility: hidden;
}

#navbar {
    overflow: hidden;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    background-color: black;
    z-index: 2;
}

#navbar h1,
p {
    padding-left: 12px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
    background-color: #111;
}

#zinefest_button {
    background-color: #7f2054;
}

#zinefest_button_2 {
    padding: 10px;
    background-color: white;
    border-radius: 2px;
    text-decoration: none !important;
}

#zinefest_button_2:hover {
    background-color: black;
}

/* SIDE BANNER COLUMN START */

#sidenav {
    height: 100%;
    width: 360px;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-image: linear-gradient(#7f2054, #3e3583);
    color: white;
    font-weight: bold;
    text-align: center;
    overflow-y: hidden;
}

#zinefest {
    padding-top: 21px;
    color: #964124;
    background-color: white;
    height: 250px;
    width: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

#zinefest p {
    padding-left: 4%;
    padding-right: 4%;
    margin: 0px;
    font-size: 30px;
}

#zinefest :nth-child(2) {
    margin-top: 10px;
    font-size: 50px;
}

#zinefest :nth-child(3) {
    margin-top: 10px;
    font-size: 60px;
}

#sidebar-flyer {
    margin-left: 20px;
    margin-right: 20px;
}

#paper-edge {
    height: 100%;
    width: 300px;
    right: 190px;
    transform: rotate(3deg);
    position: absolute;
}

#paper-edge-white {
    height: 100%;
    width: 300px;
    right: 186px;
    transform: rotate(3deg);
    position: absolute;
}

#kittylogo {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.8;
}

/* SIDE BANNER COLUMN START */

/* SIDEBANNER MOBILE START */

#sidenav-mobile {
    height: 100%;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    background-image: linear-gradient(#7f2054, #3e3583);
    color: white;
    font-weight: bold;
    text-align: center;
    overflow-y: hidden;
    position: relative;
    z-index: 1;
}

#zinefest {
    color: #964124;
    background-color: white;
    height: 250px;
    width: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

#zinefest p {
    padding-left: 4%;
    padding-right: 4%;
    margin: 0px;
    font-size: 30px;
}

#zinefest :nth-child(2) {
    margin-top: 10px;
    font-size: 50px;
}

#zinefest :nth-child(3) {
    margin-top: 10px;
    font-size: 60px;
}

#sidebar-flyer {
    margin-left: 20px;
    margin-right: 20px;
}

#paper-edge-top-mobile {
    height: 100%;
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: -4px;
}

#paper-edge-bottom-mobile {
    height: 100%;
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: -4px;
}

#kittylogo-mobile {
    width: 40%;
    position: absolute;
    left: auto;
    right: 10px;
    bottom: 0px;
    z-index: -1;
}

/* SIDEBANNER MOBILE END*/

#main {
    margin-top: 180px;
    margin-right: 360px;
    /* Same as the width of the sidenav */
}

#upcoming-events {
    background-image: url("./assets/ph_1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.black-bg {
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 12px;
}

th {
    text-align: center;
    padding: 5px;
    background: rgba(0, 0, 0, 0.8);
    /*  10% opaque green */
}

td {
    text-align: center;
    border: 1px solid white;
    padding: 5px;
    background: rgba(0, 0, 0, 0.8);
    /*  10% opaque green */
}

tr :first-child {
    border-right: 1px solid black;
}

tr :nth-child(2) {
    border-left: 1px solid black;
}

td :nth-child(1) {
    font-weight: bolder;
}

td :nth-child(1),
td :nth-child(2) {
    text-align: left;
    padding-left: 20px;
}

.big-date {
    font-size: 32px;
}

#about p {
    background-color: black;
}

#about-staff {
    padding: 12px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #333;
    background-size: contain;
}

#about-staff p {
    background-color: #7f2054a3;
    padding: 12px;
    font-size: larger;
    font-family: monospace;
    text-shadow: 1px 1px 0px black;
}

#staff-photo {
    width: 100%;
    transform: rotate(350deg);
}

.column {
    float: left;
    width: 45%;
    padding: 2px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    z-index: -1;
}

.gallery-row {
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
}

/* Create two equal columns that sits next to each other */
.gallery-column {
    flex: 30%;
    padding: 0 4px;
}

.gallery-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* min screen 320px wide */
@media screen and (max-width: 320px) {
    #mailing-list {
        margin: 10px;
        padding-top: 20px;
    }

    a.anchor {
        top: -285px;
    }
}

@media screen and (max-width: 740px) {
    #sidenav {
        display: none;
    }

    #main {
        margin-left: 2px;
        margin-right: 2px;
        margin-top: 200px;
    }
}

@media screen and (min-width: 740px) {
    #sidenav-mobile {
        display: none;
    }
}

/* for mailing list */
@media screen and (max-width: 890px) {
    .column {
        width: 100%;
    }
}

/* for mailing list */
@media screen and (max-height: 880px) {
    #kittylogo {
        display: none;
    }
}

/* TABLING RESOURCES PAGE */

#tabling-list {
    margin-left: 5px;
}

.decimage {
    width: 500px;
    height: 500px;
    float: right;
    margin: 20px;
}

.decimage img {
    width: 100%;
    object-fit: contain;
}

.decimage p {
    margin-top: 1px;
}

#main-2 {
    margin-top: 180px;
}

#main-2 li {
    margin-bottom: 10px;
}

/* ZINE FEST PAGE */

#vendor_table {
    width: 50%;
    margin: 16px;
}

#vendor_table td {
    text-align: left;
    padding: 12px;
}

#vendor_table tr:nth-child(even) {
    background: #7f2054;
}
